.wrap {
    width: 100%;
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: 100%;
}

section {
    background-color:#ddd;
}

header{
    position: relative;
    height: 10vh;
    padding: 1.8em  1.8em;
}

ul {
    width: 95%;
    position: absolute;
    display: flex;
    font-size: 13px;
    column-gap: 5em;
}

li {
    font-weight: bold;
    letter-spacing: 0.1em;
}

li span {
    font-size: 8px;
    position: relative;
    padding-right: 4em;
}

li span::after{
    content: "";
    position: absolute;
    top:1.25em;
    left:2em;
    background-color: #aaa;
    display: inline-flex;
    width: 2.5em;
    height: 1px;
}

a:hover{
    opacity: 0.5;
}

.headerMenu::before {
    content: url(../images/svg/logo_min.svg);
    padding-right: 9em;
}

ul div {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.Instagram{
    letter-spacing: 0.1em;
}

.Instagram::before {
    content: url(../images/svg/ic_ig.svg);
    position: relative;
    top: 0.25em;
    margin-right: 1em;
}

.ALL_MENU {
    width: 7em;
    position: absolute;
    right: 0;
}

.ALL_MENU::after {
    content: url(../images/svg/ic_arrow_right.svg);
    position: absolute;
    left: 7em;
}

main {
    padding-top: 7em;
    height: calc(100dvh - 10vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

main::before {
    content: url(../images/svg/logo.svg);
    position: absolute;
}

.mv-action {
    width: 100%;
    height: 100%;
    margin-right: 15%;
    background-image: url(/assets/images/mv.jpg);
    background-size: cover;
    background-position: center center;
    line-height: 1.5;
}

.text {
    padding: 1em;
    width: 20rem;
    height: auto;
    position: absolute;
    bottom: 7em;
    right: 2em;
    text-align: center;
    color: white;
    letter-spacing: 0.05em;
}

.text strong {
    font-weight: bold;
    line-height: 5;
}

.mid{
    width: 100%;
    height: 100%;
    font-size: 11px;
    font-weight: bold;
}

.small {
    font-size: 9px;
    line-height: normal;
}

/*ここからsection1*/

#ABOUT {
    position: relative;
}

.hed {
    display: flex;
    padding-top: 17.5em;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    letter-spacing: 0.1em;  
}

.nunber{
    position: absolute;
    top: 18em;
    left: 21em;
}

.nunber::after{
    content: "";
    position: absolute;
    bottom: 0.5em;
    left:2em;
    background-color: #aaa;
    width: 6em;
    height: 1px;
}

.obj_title{
    content: url(../images/svg/obj_title.svg);
    position: absolute;
    bottom: 4em;
}

.About_page1 {
    position: absolute;
    left: 48em;
    text-align: center;
}

.About_page1 h2 {
    text-align: left;
    margin-top: 5em;
    line-height: 1.5em;
}

.About_page1 p {
    text-align: left;
}

p:nth-child(2){
    font-size: 12px;
    letter-spacing: 0.1em;
    opacity: 0.5;
    margin-top: em;
}

p:nth-child(3){
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0.01em;
    margin-top: 8em;
}

#ABOUT p:nth-child(3)::before{
    content: "";
    position: absolute;
    bottom: 10em;
    left:0;
    background-color: #aaa;
    width: 3em;
    height: 1px;
}

.About_page2 {
    width: 100%;
    height: 1400px;
}

.image-size {
    width: 400px;
    height: 550px;
}

.about_1 {
    position: absolute;
    top: 27em;
    left: 15em;
}

.about_2 {
    position: absolute;
    top: 14em;
    right: 15em;
}

.about_3 {
    width: 190px;
    height: 160px;
    position: absolute;
    bottom: 50em; 
    left: 22em;
}

.about_4 {
    width: 320px;
    height: 230px;
    position: absolute;
    bottom: 55em;
    left: 39em;
}

.about_5 {
    width: 500px;
    height: auto;
    position: absolute;
    bottom: 50em;
    right: 20em;
}

/*ここからsection２*/

#MENU{
    position: relative;
}

.Menu_page1 {
    position: absolute;
    right: 35em;
    text-align: center;
}

.Menu_page1 h2 {
    text-align: left;
    margin-top: 5em;
    line-height: 1.5em;
}

.Menu_page1 p {
    text-align: left;
}

#MENU p:nth-child(3)::before {
    content: "";
    position: absolute;
    bottom: 21em;
    left:0;
    background-color: #aaa;
    width: 3em;
    height: 1px;
}

.Menu_page1 a {
    text-align: left;
    margin-top: 5em;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}

.Menu_page2 {
    width: 100%;
    height: 700px
}

.menu_1 {
    position: absolute;
    top: 10em;
    left: 26em;
    width: 600px;
    height: auto;
}

.menu_2 {
    position: absolute;
    right: 10em;
    width: 250px;
    height: 450px;
}

#MENU span::after {
    content: "";
    position: absolute;
    bottom: -1em;
    left: 0;
    background-color: #292929;
    width: 15em;
    height: 1px;
}

/*ここからsection３*/

#CONCEPT {
    background-color: #292929;
    color: white;
    position: relative;
    width: 100%;
    height: auto;
}

.obj_title_white{
    content: url(../images/svg/obj_title_white.svg);
    position: absolute;
    bottom: 4em;
}

.Concept_page1 {
    width: 100%;
    display: flex;
}

.Concept_page1_01 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    margin: 10em 7em 0 15em;
    line-height: 4em;
    text-align: center;
}

.Concept_page1_02 {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10em;
    margin-right: 1em;
}

.Concept_page1 h2 {
    text-align: left;
    line-height: 1.5em;
}

.Concept_page1 p {
    text-align: left;
}

.Concept_line::before{
    content: "";
    position: absolute;
    background-color: white;
    top: 13em;
    width: 3em;
    height: 1px;
}

.Concept_image_1 {
    width: 220px;
    height: auto;
}

.Concept_page3 {
    width: 100%;
    height: 700px;
}

.concept_2 {
    width: 200px;
    height: auto;
    position: absolute;
    top: 65vw;
    left: 15em;
}

.concept_3 {
    width: 650px;
    height: auto;
    position: absolute;
    top: 60vw;
    left: 30em;
}

.concept_4 {
    width: 300px;
    height: auto;
    position: absolute;
    top: 70vw;
    right: 27em;
}

.Concept_page4 {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 15vh;
}

.Concept_page4_01 {
    position: relative;
    margin-left: 20em;
}

.Concept_page4 img {
    width: 800px;
    height: auto;
    margin-left: 12em;
}

.Concept_fotter {
    margin-top: 20vh;
}

/*ここからsection４*/

#SHOP {
    position: relative;
}

/*下のやつは後で修正する

/*.Shop_hed {
    display: flex;
    padding-top: 10.5em;
    justify-content: center;
    align-items: center;
}*/

.Shop_page1 {
    display: flex;
    margin: 7em 0 0 10em;
    column-gap: 8em;
    justify-content: center;
    align-items: center;
}

.Shop_image1 {
    width: 210px;
    height: 300px;
}

.Shop_page1_1 {
    margin-bottom: 4em;
}

.Shop_page1_1 p:nth-child(2){
    padding-bottom: 5em;
    margin-bottom: 4em;
    position: relative;
}

.Shop_page1_1 p:nth-child(2)::after {
    display: inline-block;
    content: "";
    background-color: #817f7f;
    width: 5em;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.Shop_page1_1 p:nth-child(3) {
    margin-top: 0;
}


.Shop_image2 {
    width: 400px;
    height: auto;
}

.Shop_page2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5em;
    padding-bottom: 13em;
}

.Shop_image3 {
    width: 590px;
    height: 400px;
    margin-right: 4em;
    margin-bottom: 10em;
}

.Shop_image4 {
    width: 330px;
    height: auto;
    margin-top: 15em;
    margin-right: 5em;
}

/*ここからsection5*/

#RESERVE {
    background-color: #292929;
    color: white;
    position: relative;
    width: 100%;
    height: auto;
}

.Reserve_head {
    display: flex;
    padding-top: 14.5em;
    justify-content: center;
    align-items: center;
}

/*この部分は後で修正*/
.Reserve_nunber{
    position: absolute;
    top: 10em;
    left: 15em;
    font-size: 1.5em;
}

/*この部分は後で修正*/
.Reserve_nunber::after{
    content: "";
    position: absolute;
    bottom: 0.5em;
    left:2em;
    background-color: #aaa;
    width: 6em;
    height: 1px;
}

.Reserve_page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7em;
    gap: 1em;

}

.Reserve_img {
    width: 540px;
    height: auto;
}

.Reserve_page2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
}

.Reserve_page2_1 {
    margin-right: 8em;
    margin-left: 4em;
}

.Reserve_page2_1 p {
    line-height: 3em;
    margin-bottom: 6em;
}

.Reserve_page2_1 div{
    position: relative;
    padding-bottom: 1em;
}

.Reserve_page2_1 div::after {
    display: inline-block;
    content: "";
    width: 13em;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*opcityがいらない*/
.Reserve_page2_2 p {
    font-size: 14px;
    opacity: 1;
    line-height: 2em;
    font-weight: bold;
}

.Reserve_page2_2 p:nth-child(1) {
    margin-bottom: 3em;
} 

/*ここからsection６*/
#ACCESS {
    position: relative;
    width: 100%;
    height: auto;
}

/*後で修正*/
.Access_head{
    display: flex;
    padding-top: 10.5em;
    margin-bottom: 7em;
    justify-content: center;
    align-items: center;
}

/*後で修正*/
.Access_nunber {
    position: absolute;
    top: 6.5em;
    left: 15em;
    font-size: 1.5em;
}

.Access_nunber::after {
    content: "";
    position: absolute;
    background-color: #817f7f;
    bottom: 0.5em;
    left:2em;
    width: 6em;
    height: 1px;
}

.Access_page1 {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
